<html>
    <head>
        <title>Cherag's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Cherag's Blog</a></h1>
        </div>

        <div>
            <p>Midnight post: 09.12.2019, 12:00</p>
            <h2><a href="">My first post</a></h2>
            <p>Feeling great after coming this far.Enjoying Google's Code-in Competition.</p>
        </div>

        <div>
            <p>published: 09.12.2019, 01:00</p>
            <h2><a href="">My second post</a></h2>
            <p>Having fun coding with DjangoGirls,though prefer being a DjangoBoy. </p>
        </div>
    </body>
</html>